.dark-fade{
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    outline: none;
    will-change: opacity;
    background: rgba(0,0,0,.7);
    z-index: 3000;
    color: #59595f;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(4px);
}

.white{
    position: relative;
    background-color: white;
    width: 40%;
    height: 500px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 20px;
    border-radius: 10px;
}

.log-top p:nth-child(1){
    color: black;
    font-size: 30px;
    font-weight: bold;
    margin: 0;
    padding: 4px 0px 20px 0px;
}

.input1 label{
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.5rem;
    display: flex;
    gap: 4px;
    align-items: center;
    margin-bottom: 4px;
}

.input1 input{
    flex-basis: 100%;
    border: 1px solid rgb(173, 173, 173);
    width: 96%;
    height: 40px;
    padding: 0 12px;

    line-height: 1.5;
    color: black;
    background-color: transparent;
    border-radius: 6px;
    box-shadow: none;
    overflow: visible;
    text-transform: none;
    font-size: 1rem;
}

.input1 input:focus, textarea:focus, select:focus{
    outline: 1px solid rgb(26, 26, 26); 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
#loginBtn{
    border: 0;
    border-radius: 50px;
    margin: 0 20px;
    color: white;
    background-color: #394eff;
    cursor: pointer;
}

#loginBtn:hover{
    background-color: #7481ff;
}

.bottom-login{
    display: flex;
    justify-content: space-between;
    font-size: 14px !important;
}
.closeBtn{
    position: absolute;
    top: 15px;
    right: 15px;
    height: 24px;
    width: 24px;
    scale: 0.7;
    cursor: pointer;
}

@media only screen and (max-width: 768px) {
    .white{
        width: 60%;
    }
}
@media only screen and (max-width: 600px) {
    .white{
        width: 100vw;
        height: 100vh;
        padding: 400px 60px 0 40px;
    }
    .closeBtn{
        top: 400px;
        right: 40px;
    }
}