* {
  scroll-behavior: smooth;
}

body {
  max-width: 100%;
  overflow: auto;
  overflow-x: hidden;

}

body {
  font-family: Calibri;
  background-color: #FFF2F9;
  margin: 0;
}

a {
  text-decoration: none;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;

}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.top-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 43px;
  background-color: #0f013f;
  padding: 0 40px;
}

.top-left,
.top-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-left img,
.top-right img {
  padding: 10px;
}

.top-right {
  padding: 0 100px;
}

.top-heading-text {
  color: white;
  font-size: 14px;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 80px;
  background-color: white;
  padding: 0 40px;
  z-index: 20;
}

.landing-heading {
  font-size: 60px;
  color: #0f013f;
}

#menu-left {
  font-size: 40px;
  height: inherit;
  display: flex;
  align-items: center;
  font-weight: bold;
  z-index: 20;
}

#menu-left img {
  padding: 10px;
  height: 80%;
}

#menu-right {
  font-size: 14px;
  height: inherit;
  display: flex;
  align-items: center;
  padding: 0px 100px;
}

#menu-right ul {
  height: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  text-align: center;
  align-items: center;

}

#menu-right li {
  padding: 0 5px;
  display: inline-block;
  position: relative;
  color: #0f013f;
  font-weight: bold;
}

#menu-right li::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #0f013f;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

#menu-right li:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

#menu-right li a {
  display: block;
  color: #0f013f;
  text-align: center;
  padding: 16px;
  text-decoration: none;
  cursor: pointer;
  transition: 1s;
}

.login-btn {
  width: 155px;
  height: 47px;
  border-radius: 50px;
  border-color: #00B2B5;
  background-color: #05D8E3;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  cursor: pointer;

}

.typewriter-effect {
  position: absolute;
  top: 2rem;
  left: 10rem;
  /* margin-top: 4rem ;
  margin-left: 10rem ; */
  width: 360px;
  height: 320px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  flex-direction: column;
  font-weight: bold;
  font-size: 13px;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  border-radius: 35px;
}

.typewriter-effect>.text {
  width: 240px;
  text-align: left;
  max-width: 0;
  animation: typing 3s steps(var(--characters)) infinite;
  white-space: nowrap;
  overflow: hidden;

}

.typewriter-effect::after {
  content: " |";
  animation: blink 1s infinite;
  animation-timing-function: step-end;
}

@keyframes typing {

  75%,
  100% {
    max-width: calc(var(--characters) * 1ch);
  }
}

@keyframes blink {

  0%,
  75%,
  100% {
    opacity: 1;
  }

  25% {
    opacity: 0;
  }
}


.register-btn {
  margin: 30px;
  margin-bottom: -40px;
  background-color: #0f013f;
}

.slideshow-container {
  width: 100%;
  height: 70%;
  position: relative;
  margin: auto;
  overflow: hidden;
}

.mySlides {
  display: none;
}

.fade {
  animation-name: fade;
  animation-duration: 2.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }

  to {
    opacity: 1;
  }
}

.wave {
  position: absolute;
  bottom: -1px;
}

.center-content {
  position: relative;
  width: 100%;
  height: fit-content;
  background-color: white;
  border: 1px solid rgb(255, 255, 255);
}

.center-content p:nth-child(1) {
  z-index: 2;
  padding: 0px;
  margin: 0px;
  font-size: 40px;
  text-align: center;

}

.center-content p:nth-child(2) {
  z-index: 2;
  padding: 4px;
  margin: 4px;
  width: 100vw;
  font-size: 15px;
  text-align: center;

}

.cont-group {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  padding-bottom: 20px;
}

.content-left {
  width: 250px;
  height: 250px;
  margin-bottom: 30px;
}

.content-right {
  z-index: 321 !important;
  width: 250px;
  height: 250px;
  margin: 30px 60px;
  /* margin-top: -30px; */
  margin-bottom: 30px;
  scale: 1.1;
}

.content-right img {
  width: 100%;
}

.bottom-content p:nth-child(1) {
  margin-top: 70px;
  color: #423F8D;
  text-align: center;
  font-weight: bold;
  font-size: 30px;
}

.gp {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;

}

.gp p:nth-child(2) {
  /* margin-top: -26px ; */
  font-weight: bold;
  text-align: left;
  padding-left: 20px;
}

.circle {
  width: 420px;
  height: 55px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.direct {
  width: 130px;
  height: 30px;
  background-color: #D725B0;
  margin-bottom: 15px;
  border: 5px solid;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -100%);
  z-index: 6;
  margin: -10px 0;
}

.menuBtn {
  display: block;
}

.menuBtn ul {
  list-style-type: none;
  padding: 0;
}

.menuBtn ul li {
  padding: 10px;
  text-align: center;
}

.menuBtn ul li a {
  color: #333;
  text-decoration: none;
}


/* responsive */
@media screen and (max-width: 1000px) {
  #menu-left {
    font-size: 1rem;
  }

}

@media screen and (max-width: 600px) {
  .circle {
    border-radius: 100%;
    width: 130px;
    height: 40px;
    /* scale: 1.6; */
  }

  .content-left {
    width: 160px;
  }

  .content-right {
    margin: 0;
    width: 150px;
  }

  .content-right img {
    margin-top: 30px;
    scale: 1.05;
  }

  .center-content p:nth-child(1) {
    font-size: 25px;
    padding: 0;
    margin: 0;
  }

  .center-content p:nth-child(2) {
    width: 90vw;
    font-size: 10px;
    padding: 0 15px;
    margin: 0;
  }

  .center-content {
    /* margin-left: 45px; */
    width: 100vw;
  }

  .typewriter-effect {
    width: 100px;
    height: 70px;
    top: 45%;
    left: 50%;
    transform: translate(-80%, -50%);
    padding: 20px;
  }

  .cont-group {
    padding-left: -20px;
  }

  .top-right {
    display: none;
  }

  .top-heading {
    height: 25px;
    justify-content: center;
    margin: 0;
    padding: 0;
  }

  .top-heading-text {
    font-size: 8px;
  }

  .menu {
    height: 40px;
    padding: 0 10px;
  }

  .menu-left img {
    height: 20px;
  }

  .nameHeading {
    font-size: 10px;
  }

  #menu-right {
    display: none;
    z-index: 600;
  }

  #menu-left {
    font-size: 1rem;
  }

  .landing-heading {
    font-size: 20px;
    margin: 1rem;
    padding: 1rem;
    margin-top: -10px;
  }

  .register-btn {
    margin: 0 0px;
    margin-top: -25px;
    margin-bottom: -80px;
    scale: 0.5;
  }

  .direct {
    scale: 0.6;
    margin-left: -20px;
  }
}

@media only screen and (max-width: 768px) {

  .login-btn {
    margin-top: -200px;
  }

  #menu-left,
  #menu-right {
    display: none;
  }

  .menu {
    justify-content: space-between;
  }

  #menu-toggle {
    display: block;
    cursor: pointer;
    padding: 10px;
  }

  #menu-toggle .bar {
    z-index: 700 !important;
    width: 25px;
    height: 3px;
    background-color: #0f013f;
    margin: 5px auto;
    transition: 0.3s;
  }

  #menu-toggle.open .bar:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
  }

  #menu-toggle.open .bar:nth-child(2) {
    opacity: 0;
  }

  #menu-toggle.open .bar:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
  }

  #menu-right {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 10%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateX(100%);
    transition: transform 0.3s;
    /* padding: ; */
  }

  #menu-right ul {
    flex-direction: column;
    width: 100%;
    scale: 1.1;
  }

  #menu-right li {
    margin: 20px 0;
  }
  #menu-right li a{
    width: 100%;
    padding: 0;
  }
  #menu-right li a:hover{
    background-color: #00B2B5;
  }

  #menu-right.open {
    transform: translateX(0);
  }
  .login-btn{
    z-index: 200;
  }
}